<div class="container-fluid">
	<ul class="nav navbar-nav">
		<li><a href="#">Home</a></li>
		<li><a href="#">Family</a></li>
		<li><a href="#">Guitar</a></li>
		<li><a href="#">Voiceover</a></li>
	</ul>
</div>