<!DOCTYPE html>  
<html>  
  <head>
    <title><%= title %></title>
    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <%- include ./partials/header.ejs %>
    <h1><%= title %></h1>
    <% quotes.forEach( function( quote ){ %>
      <p><%= quote.quote %></p>
      <p><%= quote.author %></p>
      <p><%= quote.subject %></p>
    <% }); %>
    <%- include ./partials/body.ejs %>
    <%- include ./partials/footer.ejs %>
  </body>
</html>